<h1>Assignment Revision</h1>
<p>The client has requested a rewrite for this assignment. Please read the notes carefully and resubmit accordingly.</p>

<p>Alternatively, you can cancel the assignment and let another author attempt it.</p>

<div class="media"> 
  <div class="media-body">
            <%= simple_form_for @assignment do |f| %>
          <%= f.input :body, :as => :text, :input_html => { class: 'test', :cols => 150, :rows => 15 } %>
          <% end %>
      </div>
    </div>
      <p>
      <table>
              <tr>
              <td><%= form_tag("/assignments/#{@assignment.id}/resubmit") do %>
                  <%= submit_tag 'Resubmit' %>
              <% end %>
              </td>
              <td><%= form_tag("cancel") do %>
                  <%= submit_tag 'Cancel' %>
              <% end %>
              </td>
              </tr>      
            </table>






