<h1><%= @assignment.title %></h1>

<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@assignment.user.avatar.tiny.url) if @assignment.user.avatar? %>
      submitted <%= time_ago_in_words(@assignment.created_at) %> ago by 
      <%= @assignment.user.name %>
    </small>    
    <p><%= @assignment.body %></p>
  </div>
  <div class="span4">
    <%= form_tag("#{@assignment.id}/renew") do %>
  <div><%= submit_tag 'Release' %></div>
<% end %>
    <% if can? :edit, @assignment %>
      <%= link_to "Edit", edit_assignment_path(@assignment), class: 'btn btn-large btn-block' %>
    <% end %>
    <%= form_tag("#{@assignment.id}/write") do %>
  <div><%= submit_tag 'Write' %></div>
<% end %>
  </div>
</div>
