<div class="row">
  <div class="span12">
    <div class="media">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: 'pull-left' %>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.assignments.count, 'assignment') %>
          
        </small>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#assignments" data-toggle="tab">Assignments</a></li>
      <li><a href="#revision" data-toggle="tab">Revision</a></li>
      <li><a href="#published" data-toggle="tab">Published</a></li>
      <li><a href="#authorize" data-toggle="tab">Authorize</a></li>
      <li><a href="#comments" data-toggle="tab">Comments</a></li>
      <li><a href="#account" data-toggle="tab">Account</a></li>
      
    </ul>
    

      <div class="tab-pane active" id="assignments">
        <% @user.assignments.each do |assignment| %>
          <p><%= link_to assignment.title, assignment_path(assignment.id) %></p>
        <% end %>
      </div>
      <div class="tab-pane" id="revision">
       <%# @revision_assignments.each do |assignment| %>
          <p><%# link_to assignment.title, assignment_path(assignment.id) %></p>
        <%# end %> 
      </div>
      <div class="tab-pane" id="published">
        <% @published_assignments.each do |assignment| %>
          <p><%= link_to assignment.title, assignment_path(assignment.id) %></p>
        <% end %>
      </div>
      <div class="tab-pane" id="authorize">
        <%# @authorize_assignments.each do |assignment| %>
          <p><%#= link_to assignment.title, assignment_path(assignment.id) %></p>
          <p>Test</p>
        <%# end %>
      </div>
      <div class="tab-pane" id="comments">
        
      </div>   
      <div class="tab-pane" id="account">
        
      </div>    
  </div>
</div>
